<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="usuario.nome" placeholder="Nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="usuario.email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="usuario.cnpj" placeholder="CNPJ"></ion-input>
  </ion-item>
  <ion-item *ngIf="!usuario.id">
    <ion-input [(ngModel)]="usuario.senha" type="password" placeholder="Senha"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="salvarUsuario()">
    {{ usuario.id ? 'Atualizar' : 'Salvar' }}
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let u of usuarios">
      <ion-label>
        <h2>{{ u.nome }}</h2>
        <p>{{ u.email }} | {{ u.cnpj }}</p>
      </ion-label>
      <ion-button color="warning" (click)="editar(u)">Editar</ion-button>
      <ion-button color="danger" (click)="deletar(u.id)">Excluir</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
