<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil do Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil do Usuário</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-container">
    <!-- Foto do Usuário -->
    <div class="profile-photo">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>

    <!-- Informações do Usuário -->
    <ion-item>
      <ion-label position="stacked">Nome:</ion-label>
      <ion-input [(ngModel)]="user.nome" placeholder="Digite seu nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CNPJ:</ion-label>
      <ion-input [(ngModel)]="user.cnpj" placeholder="Digite seu CNPJ" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail:</ion-label>
      <ion-input [(ngModel)]="user.email" type="email" placeholder="Digite seu e-mail"></ion-input>
    </ion-item>

    <!-- Saldo e Tokens (Somente Leitura) -->
    <ion-item>
      <ion-label position="stacked">Saldo:</ion-label>
      <ion-input [value]="'R$ ' + (user.saldo || 0).toFixed(2)" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tokens:</ion-label>
      <ion-input [value]="(user.tokens || 0).toFixed(2)" readonly></ion-input>
    </ion-item>

    <!-- Botão para salvar alterações -->
    <ion-button expand="block" (click)="saveProfile()">Salvar Alterações</ion-button>

    <!-- Botão para alterar senha -->
    <ion-button expand="block" fill="outline" (click)="changePassword()">Alterar Senha</ion-button>
  </div>
</ion-content>
