<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil do Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="profile-container">
    <div class="profile-photo-wrapper">
      <div class="profile-photo" (click)="changePhoto()">
        <img *ngIf="user.foto" [src]="user.foto" class="avatar-img">
        <ion-icon *ngIf="!user.foto" name="person-circle-outline"></ion-icon>
      </div>

      <div class="edit-badge" (click)="changePhoto()">
        <ion-icon name="camera"></ion-icon>
      </div>

      <div class="remove-badge" *ngIf="user.foto" (click)="removePhoto($event)">
        <ion-icon name="trash"></ion-icon>
      </div>
    </div>

    <ion-item>
      <ion-label position="stacked">Nome:</ion-label>
      <ion-input [(ngModel)]="user.nome" placeholder="Digite seu nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CNPJ:</ion-label>
      <ion-input [(ngModel)]="user.cnpj" placeholder="Digite seu CNPJ" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail:</ion-label>
      <ion-input [(ngModel)]="user.email" type="email" placeholder="Digite seu e-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Saldo:</ion-label>
      <ion-input [value]="'R$ ' + (user.saldo || 0).toFixed(2)" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tokens:</ion-label>
      <ion-input [value]="(user.tokens || 0).toFixed(2)" readonly></ion-input>
    </ion-item>

    <div class="actions">
      <ion-button expand="block" (click)="saveProfile()">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Salvar Alterações
      </ion-button>

      <ion-button expand="block" fill="outline" color="medium" (click)="changePassword()">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        Alterar Senha
      </ion-button>
    </div>
  </div>
</ion-content>
