<ion-app>
  <ion-menu contentId="main-content" type="overlay" [disabled]="!user">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>

      <div class="menu-header" *ngIf="user" style="text-align: center;">
        <ion-avatar style="width: 80px; height: 80px; margin: 0 auto 10px;">
          <img [src]="user.foto || 'assets/img/icon-only.png'" style="object-fit: cover;">
        </ion-avatar>
        <h3 style="margin: 0; color: var(--ion-color-dark);">{{ user.nome }}</h3>
      </div>
    </ion-header>

    <ion-content>
      <ion-list id="inbox-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngIf="user">
          <ion-item button (click)="logout()" lines="none" detail="false">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-app>
