<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center; padding: 20px;">
    <!-- Formulário de cadastro -->
    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input type="text" placeholder="Digite seu nome completo" [(ngModel)]="cadastro.nome"></ion-input>
    </ion-item>

    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" placeholder="Digite seu e-mail" [(ngModel)]="cadastro.email"></ion-input>
    </ion-item>

    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">CNPJ</ion-label>
      <ion-input type="text" placeholder="XX.XXX.XXX/XXXX-XX" pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}"
      maxlength="18"
      inputmode="numeric" [(ngModel)]="cadastro.cnpj"></ion-input>
    </ion-item>

    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" placeholder="Digite sua senha" [(ngModel)]="cadastro.senha"></ion-input>
    </ion-item>

    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">Confirmar Senha</ion-label>
      <ion-input type="password" placeholder="Confirme sua senha" [(ngModel)]="cadastro.confirmarSenha"></ion-input>
    </ion-item>

    <!-- Botão de cadastro -->
    <ion-button id="Cadastrar" expand="block" style="margin-top: 20px;" (click)="cadastrar()">Cadastrar</ion-button>
  </div>
</ion-content>
