ion-content{
    --background: url(../../../assets/icon-background.png) center / cover no-repeat;
  }

#Cadastrar{
    --background: var(--ion-text-color);
    --color: #045D56;
}
#Cadastrar:hover{
    --background: var(--dourado);
    --color: var(--ion-text-color);
}
