#Entrar, ion-button {
    --background: #e3e3e3;
    ---color: #045D56;
  }
  #Entrar:active {
    transition: 100ms;
    --background: var(--dourado);
    --color: var(--ion-text-color);
  }
