ion-content{
  --background: url(../../../assets/icon-background.png) center / cover no-repeat;
}

ion-header {
  text-align: center;
}

#Entrar {
  --background: #e3e3e3;
  --color: #045D56;
}
#Entrar:active {
  transition: 100ms;
  --background: var(--dourado);
  --color: var(--ion-text-color);
}
#Criar {
  --background: #232325;
  --color: #e3e3e3;
  border: 1px solid #e3e3e3b1;
  border-radius: 8px;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #757575;
  margin: 0;
}

#container a {
  text-decoration: none;
}
