<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container" style="display: flex; flex-direction: column; gap: 15px; padding: 20px;">

    <ion-button style="width: 100%;" (click)="add1()">
      <ion-icon style="font-size: 40px;margin-right: 10px;" name="people-circle-outline"></ion-icon>
      <ion-label>Usuários</ion-label>
    </ion-button>

    <ion-button style="width: 100%;" (click)="add2()">
      <ion-icon style="font-size: 40px;margin-right: 10px;" name="browsers-outline"></ion-icon>
      <ion-label>Projetos</ion-label>
    </ion-button>

    <ion-button style="width: 100%;" (click)="add3()">
      <ion-icon style="font-size: 40px;margin-right: 10px;" name="document-text-outline"></ion-icon>
      <ion-label>Posts</ion-label>
    </ion-button>

    <ion-button style="width: 100%;" (click)="add4()">
      <ion-icon style="font-size: 40px;margin-right: 10px;" name="chatbubble-outline"></ion-icon>
      <ion-label>Comentários</ion-label>
    </ion-button>

    <ion-button style="width: 100%;" (click)="add5()">
      <ion-icon style="font-size: 40px;margin-right: 10px;" name="star-outline"></ion-icon>
      <ion-label>Avaliações</ion-label>
    </ion-button>

  </div>

</ion-content>
